* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

html {
  font-family: "Circular Std Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.6em;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  color: #1A1A1A;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  font-family: "Circular Std Medium", Trebuchet MS, Arial, sans-serif;
  background-color: transparent;
  text-decoration: none;
  color: #1A1A1A;
  position: relative;
  text-decoration: underline;
}

a span span {
  background: #4799ca;
  color: #fff;
  border-radius: 4px;
  font-size: 10px;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  bottom: 2px;
}

a svg {
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  /*fill: #aaa;*/
}

a:active,
a:hover {
  outline-width: 0;
  color: #6989FF;

}

a:active svg,
a:hover svg {
  fill: #4799ca;
}

b,
strong {
  font-weight: inherit;
  font-weight: bold;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

h1 {
  font-family: "Circular Std Bold", Trebuchet MS, Arial, sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.9rem;
  line-height: 1.3;
}

h2 {
  font-family: "Circular Std Bold", Trebuchet MS, Arial, sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.7em;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}

h3 {
  font-family: "Circular Std Bold", Trebuchet MS, Arial, sans-serif;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5em;
  margin-bottom: 1.30rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.45rem;
  line-height: 1.1;
}

p,
li {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.2rem;
  font-size: 19px;
  line-height: 1.5em;
  max-width: 760px;
}

h1 span {
  display: block;
}

p a {
  display: inline;
}


table {
  font-size: 19px;
  font-weight: 300;
  width: 100%;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

table td {
  margin: 0px;
  padding: 5px 0px;
}

table tr td:nth-child(1) {
  font-weight: 600;
  color: #666;
  font-size: 17px;
}

table tr td:nth-child(1) span {
  font-weight: 400;
  color: #666;
  font-size: 14px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.main {}

.hero {
  background: #E3F3FF;
  height: 480px;
  overflow: hidden;
}

.hero .content {
  margin-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.header {
  background: rgb(212,225,244);
  background: linear-gradient(180deg, rgba(212,225,244,0.2) 0%, rgba(212,225,244,0.2) 60%, rgba(212,225,244,0) 100%);
}

.headerCarrier {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.headerLinks {
  padding: 50px 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}

.headerLinks .menu a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.headerLinks div:nth-child(1) a {
  font-family: "Circular Std Book", Trebuchet MS, Arial, sans-serif !important;
}

.headerLinks div:nth-child(2) a {
  margin-left: 20px;
}

.headerSearchIcon {
  position: relative;
  top: 6px;
  border-radius: 50%;
  padding: 5px;
  width: 27px;
  height: 27px;
  transition: 200ms all;
  stroke: #1A1A1A;
}

.headerSearchIcon:hover {
  background: #4799ca;
  stroke: #fff;
}

.footer {
  background: rgba(212, 225, 244, 0.08);
}

.footerCarrier {
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.footerInner {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerInner img {
  margin: 25px 15px;
}

.footerDecor {
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: -40px;
  animation: scaleAnim 5s infinite alternate;
}

.footerAppIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.footerLinks {
  padding: 50px 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.footerLinks div:nth-child(1) a {
  font-family: "Circular Std Book", Trebuchet MS, Arial, sans-serif !important;
}

.footerLinks div:nth-child(2) a {
  margin-left: 20px;
}

.btnBig {
  cursor: pointer;
  width: 260px;
  height: 44px;
  border-radius: 22px;
  background: blue;
  color: #fff;
  text-align: center;
  align-items: center;
  line-height: 44px;
  margin-bottom: 10px;
}


.content {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 50px 20px;
  padding-top: 0px;
}

.breadcrumbList {
  display: flex;
  margin-bottom: 20px;
}

.breadcrumbList a {
  text-decoration: none;
  color: #514d68;
}

.breadcrumbListItem {
  display: flex;
}

.breadcrumbLink {
  border: 1px solid #ddd;
  background-color: #fafafa;
  border-radius: 20px;
  padding: 10px 20px;
}

.breadcrumbLink:hover {
  background: #fff;
}

.contentHolder {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.contentLeft {
  display: flex;
  flex-direction: column;
}

.contentLeftOne {
  width: 650px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding-top: 15px;
  padding-right: 10px;
  margin-right: 10px;
}

.contentLeftTwo {
  width: 650px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
}

.contentPhrases {
  display: flex;
  flex-wrap: wrap;
}

.phrasesItem {
  border: 1px solid #E1E4E9;
  border-radius: 10px;
  width: calc(50% - 10px);
  padding: 15px;
  margin-right: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.contentCard {
  width: 100%;
  text-align: center;
  background: #F5FCFD;
  padding: 20px;
  border-radius: 10px;
}

.downloads {
  display: flex;
  flex-direction: column;
}

.downloads a,
.downloads .btn {
  padding: 15px 10px;
  background: #4DCFE0;
  margin: 15px 15px 2px 15px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #fafafa;
  font-size: 24px;
  height: 54px;
  transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.downloads a:hover,
.downloads .btn:hover {
  background: #000;
  color: #fafafa;
}

.downloadItems {
  display: none;
  position: absolute;
  top: 70px;
  width: 100%;
}

.downloadItemsActive {
  display: flex;
  justify-content: center;
}

.downloadItemsActive a {
  margin: 10px 2%;
}

.downloads p {
  font-size: 12px;
  color: #68637C;
  width: 100%;
  text-align: center;
  margin-top: 4px;
}

.contentRight {
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
}

.contentRightOne {
  width: 300px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fafafa;
  margin: 0 auto;
}

.contentRightTwo {
  width: 300px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #fafafa;
  padding: 12px 24px;
  font-family: "Circular Std Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 10px 0;
}

.cardInformation {
  font-size: 15px;
  color: #878CA4;
  border-bottom: 1px solid #e6e7ef;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.cardInformation:last-child {
  border: none;
}

.informationTexts {
  font-size: 15px;
  color: #8C91A7;
}

.informationTexts a {
  color: #8C91A7;
  text-decoration: none;
}

.informationTexts a:hover {
  text-decoration: underline;
}

.section {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 50px 0px;
}

.sectionDescription {
  padding: 15px;
  width: 50%;
}

.sectionDescription.right {
  width: 55%;
}

.sectionDescription p {
  color: #5d6382;
}

.sectionImage {
  width: calc(50% - 30px);
}

.sectionImage.right {
  width: calc(45% - 30px);
}

.sectionImage .screenshot {
  max-width: 70%;
  position: relative;
  z-index: 99;
  top: -20px;
  left: 10px;
}

.sectionBackground {
  position: relative;
  top: 0px;
  left: -90px;
  transform: scale(1.1);
}

.sectionBackground.right {
  left: auto;
  right: -50px;
}


.sectionBackground .blob {
  position: absolute;
  top: 0px;
  left: 0px;
}

.sectionBackground .particals {
  position: absolute;
  top: 20px;
  left: 0px;
  animation: scaleAnim 5s infinite alternate;
}

.sectionBackground .particals.right {
  animation: scaleAnimFlip 5s infinite alternate;
}

.deviceScreenshot {
  position: relative;
  width: 65%;
  top: -20px;
  left: 20px;
}

.right .deviceScreenshot {
  width: 65%;
  left: auto;
  right: -20px;
  margin: auto;
}

.shotHolder {
  position: absolute;
  left: 0px;
  top: -27px;
  z-index: 100;
  width: 100%;
  transform: scale(0.876);
}

.right .shotHolder {
  top: -23px;
}

.download {
  display: flex;
  margin-bottom: 50px;
}

.download img {
  margin-right: 15px;
  width: 150px;
}

.sectionList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-align: center;
}

.sectionList div {
  padding: 0px 10px;

}

.categories {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-gap: 10px;
}

.categoryItem {
  width: 175px;
  height: 175px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.categoryItem img {
  margin: 5px;
  margin-bottom: 10px;
}

.categoryCardCount {
  background: #fff;
  width: 70px;
  height: 20px;
  border-radius: 10px;
  font-size: 0.8em;
  color: #333;
  text-align: center;
  line-height: 20px;
}

.packs {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-gap: 10px;
}

.categories a,
.packs a {
  text-decoration: none;
}

.packItem {
  width: 175px;
  height: 175px;
  border-radius: 20px;
  display: flex;
  background: #fcfdfe;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.packItem img {
  margin: 5px;
  margin-bottom: 10px;
}

.categoryItem p,
.packItem p {
  padding: 0px 10px;
  margin-bottom: 2px;
  text-align: center;
}

.blogPostCarrier {
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.blogPostCarrier .gatsby-resp-image-wrapper {
  max-height: 500px;
}

.searchContent {
  width: 60%;
  margin: auto;
  align-content: center;
}

.searchInput {
  width: 90%;
  height: 34px;
  border: 2px solid #757575;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Circular Std Book", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000;
  padding: 0 2%;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  border: 2px solid #757575;
  border-radius: 10px;
  outline: none;
  width: 34px;
  height: 34px;
  margin: 0 5px;
  position: absolute;
}

.searchOutput {
  width: 100%;
  margin: 10px 0 auto;
  text-align: center;
}

.searchImage {
  margin: 1px 5px;
  width: 80px;
  height: 80px;
  padding: 5px;
  border: 2px solid #343A40;
  border-radius: 15px;
  transition: 0.5s;
}

.searchImage:hover {
  background: #969696;
  transition: 0.5s;
}

.team {
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, 30%);
  justify-content: space-between;
}

.teamMember {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.teamMember img {
  border-radius: 50%;
  width: 180px;
}

.teamMember h4:first-of-type {
  margin-bottom: -12px;
  font-size: 1.3em;
}

.teamMember h4:nth-of-type(2) {
  font-weight: normal;
}

.socials img {
  width: 30px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.app {
  padding: 20px 0;
  display: flex;
}

.app a,
.app a:hover {
  text-decoration: none;
  color: #1A1A1A;
  display: flex;
}

.app img {
  width: 130px;
  height: 130px;
}

.appContent {
  width: calc(100% - 100px);
  padding-left: 15px;
  padding-top: 12px;
}

.appContent h1 {
  margin-bottom: 5px;
}

.appContent p {
  margin-top: 7px;
  color: #5d6382;
}

.appContent a {
  text-decoration: underline;
}

.notFound {
  margin: auto;
  padding-top: 2rem;
  width: 40%
}

.notText {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.thanksContent {
  text-align: center;
}

.thanksContent p {
  width: 100%;
  max-width: none;
}

.unicef {
  background-color: #0094f7;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.unicef img {
  margin: 25px;
}

@media only screen and (max-width: 1000px) {

  .section {
    flex-direction: column;
  }

  .sectionDescription {
    padding: 15px;
    width: auto !important;
  }

  .sectionImage {
    margin: auto;
    width: 100% !important;
    max-width: 300px;
  }

  .shotHolder {
    top: -16px !important;
  }

  .shotHolder .gatsby-image-wrapper {
    border-radius: 13px !important;
  }

  .sectionBackground {
    position: relative;
    top: 0px !important;
    left: 0px !important;
    transform: scale(1) !important;
  }

  .sectionImage .screenshot {
    max-width: 70%;
    position: relative;
    z-index: 99;
    top: -20px !important;
    left: 10px !important;
  }

  .deviceScreenshot {
    position: relative;
    width: 65% !important;
    top: -30px !important;
    left: 0px !important;
    margin: auto !important;
  }

  .sectionList {
    flex-direction: column;
  }
}

.menuToggler {
  display: none;
}

.features {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 230px);
  grid-gap: 10px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.feature h3 {
  text-align: center;
}

.feature p {
  color: #5d6382;
  text-align: center;
}

.feature img {
  width: 50%;
  display: block;
}

.heroLeft {
  width: 50%;
}

.heroRight {
  position: relative;
  z-index: 99;
  top: 10px;
  left: 20px;
  width: 440px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 10px;
  transform: rotate(8deg);
}

.rightSvg {
  width: 95px;
  height: 95px;
  background-color: #fff;
  border: none;
  border-radius: 10%;
  padding: 10px;
}


@media only screen and (max-width: 700px) {

  .menuToggler {
    display: flex;
    width: 55px;
    height: 42px;
    background: #eee;
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  .headerLinks {
    flex-direction: column;
    align-items: flex-start;
  }

  .headerLinks .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .headerLinks .menu a {
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
  }


  .headerLinks .menu a:first-child {
    margin-top: 15px;
  }

  .mobileMenuPassive {
    max-height: 0px;
    overflow: hidden;
  }

  .mobileMenuToggle {
    max-height: 300px;
  }

  .contentHolder {
    display: flex;
    flex-direction: row;
  }


  .footer {
    overflow: hidden;
  }

  .footerLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  .footerLinks div {
    justify-content: center;
    align-items: center;
  }

  .footerLinks div:nth-child(2) a {
    margin: 0px !important;
    display: block;
    text-align: center;
    padding-top: 10px;
  }

  .features {
    grid-template-columns: repeat(auto-fill, 240px);
    grid-gap: 20px;
  }

  .team {
    grid-template-columns: repeat(auto-fill, 40%);
    justify-content: center;
  }

  .teamMember .memberImg {
    width: 244px
  }

  .hero {
    height: 650px;
  }

  .heroRight {
    transform: none;
    position: relative;
    top: 0;
    right: 0;
    padding-top: 20px;
  }

  .unicef {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.soon {
  background: #ff81a2;
  border-radius: 4px;
  bottom: 2px;
  color: #fff;
  font-size: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-left: 4px;
  position: relative;
}


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .content {
    padding: 0px 20px;
  }

  .categories {
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 10px;
  }

  .categoryItem {
    width: 160px;
    height: 160px;
  }

  .packs {
    grid-template-columns: repeat(auto-fill, 160px);
    grid-gap: 10px;
    justify-content: center;
  }

  .packItem {
    width: 160px;
    height: 160px;
  }

  .contentHolder {
    display: flex;
    flex-direction: column;
  }

  .contentLeft,
  .contentLeftOne,
  .contentLeftTwo,
  .phrasesItem,
  .contentRight,
  .contentRightOne,
  .contentRightTwo {
    width: 100%;
  }

  .contentLeftTwo {
    padding: 10px 0px;
  }

  .contentLeftOne {
    padding-right: 0px;
  }

  .contentLeftTwo h2 {
    padding: 10px;
    text-align: center;
  }

  .contentRight {
    position: sticky;
    top: 0;
    bottom: -320px;
  }

  .team {
    display: grid;
    grid-template-columns: repeat(auto-fill, 60%);
    justify-content: center;
  }

  .apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: center;
  }

  .app,
  .app a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .app a:nth-child(2) {
    align-items: unset;
  }

  .appContent {
    padding: 12px 0;
    width: 100%;
  }

  .appContent h1 {
    text-align: center;
  }

  .notFound {
    width: 90%;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 90%;
  }

  .hero {
    height: auto;
    height: 700px;
  }

  .hero .content {
    flex-direction: column;
    height: auto;
  }

  .heroLeft {
    width: 100%
  }

  .heroRight {
    position: relative;
    left: 0px;
    height: 210px;
  }

  .footerAppIcon {
    width: 65px;
    height: 65px;
  }
}

@keyframes scaleAnim {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes scaleAnimFlip {
  0% {
    transform: scale(1.0) scaleX(-1);
  }

  100% {
    transform: scale(1.1) scaleX(-1);
  }
}
